.user-email,
.user-phone {
	a {
		color: $teal;
		&:hover { color: $light-teal; }
	}
}

.user-email a:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.user-name { margin-top: 0; }
.user-title { margin-bottom: 0; }