{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<h5>
		Please note that plugins here may be out of date.<br/>
		Always check for updates after installing.
	</h5>

	{% include 'search-module.twig' %}

	<section class="row-container">
		<div class="row-layout">
			<article class="row-layout__item row-header">
				<span class="info-download-head bold">Plugin Name</span>
				<span class="info-license bold">License Key</span>
				<span class="info-cost bold">Cost</span>
				<span class="info-client bold">Payment Responsibility</span>
				<div class="row-spacer"></div>
			</article>
		</div>

		{# Stacked rows #}
		<div class="row-layout">
			{% for plugin in plugins %}
				<article class="row-layout__item">
					<a class="info-download" href="{{ plugin.plugin_url }}" target="_blank" rel="noopener">{{ plugin.plugin_name }}</a>
					<span class="info-license">{{ plugin.license_key }}</span>
					<span class="info-cost">{{ plugin.cost_per_month }}</span>
					<span class="info-client">{{ plugin.paying_company_client }}</span>

					<div class="row-edit-icon">
						{% if plugin.plugin_login %}
							<a class="key-icon" href="javascript: void (0);">
								<span class="fa-solid fa-key"></span>
							</a>
						{% endif %}

						<a href="{{ plugin.plugin_file }}" download>
							<span class="fa-solid fa-plug"></span>
						</a>

						{% if plugin.plugin_documentation_url %}
							<a href="{{ plugin.plugin_documentation_url }}" target="_blank" rel="noopener">
								<span class="fa-solid fa-file-code"></span>
							</a>
						{% endif %}
					</div>
				</article>

				{# credential dropdown #}
				{% if plugin.plugin_login %}
					<div class="credentials-dropdown">
						<p class="bold">Login: <span>{{ plugin.plugin_login }}</span></p>
						<p class="bold">Password: <span>{{ plugin.plugin_password }}</span></p>
					</div>
				{% endif %}
			{% endfor %}
		</div> {# end /.row-layout #}

		{# 3-wide grid (responsive) #}
		<div class="grid-layout" style="display: none;">
			{% for plugin in plugins %}
				<div class="grid-layout__item">
					<p class="first">Plugin Name: <a class="light-teal bold" href="{{ plugin.plugin_url }}" target="_blank" rel="noopener">{{ plugin.plugin_name }}</a></p>
					<p>License Key: <span>{{ plugin.license_key }}</span></p>
					<p>Cost: <span>{{ plugin.cost_per_month }}</span></p>
					<p class="last">Paying: <span>{{ plugin.paying_company_client }}</span></p>

					<div class="grid-icons">
						{% if plugin.plugin_login %}
							<a class="key-icon" href="javascript: void (0);"><span class="fa-solid fa-key"></span></a>
						{% endif %}

						<a href="{{ plugin.plugin_file }}" download>
							<span class="fa-solid fa-plug"></span>
						</a>

						{% if plugin.plugin_documentation_url %}
							<a href="{{ plugin.plugin_documentation_url }}" target="_blank" rel="noopener">
								<span class="fa-solid fa-file-code"></span>
							</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div> {# end /.row-layout #}
	</section>
</div>
{% endblock %}