{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<h5>Individual client information, such as contact info, hours, etc.<br/>
	Please do not put login information here, that goes under <a class="teal-link" href="/client-accounts">Client Accounts</a>.</h5>

	{% include 'search-module.twig' %}
</div>
{% endblock %}