{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<h5>Client Accounts we host, where it is hosted, who manages it (us/them), who is paying, how much does it cost, and the primary contacts name and phone number.</h5>

	{% include 'search-module.twig' %}
</div>
{% endblock %}