{% extends 'base.twig' %}

{% block content %}
<div class="content-block">

	{# ROW LISTING #}
	<section class="row-container">
		<div class="row-layout">
			<article class="row-layout__item row-header">
				<span class="info-name bold">Name</span>
				<span class="info-email bold">Email</span>
				<span class="info-phone bold">Phone</span>
				<span class="info-title bold">Title</span>
				<div class="row-edit-icon">{# spacer #}</div>
			</article>

			{% for user in users %}
				<article class="row-layout__item">
					<span class="info-name">{{ user.display_name }}</span>
					<span class="info-email"><a href="mailto:{{ user.user_email }}">{{ user.user_email }}</a></span>
					<span class="info-phone"><a href="tel:{{ user.phone_number }}">{{ user.phone_number }}</a></span>
					<span class="info-title">{{ user.job_title }}</span>
					<div class="row-edit-icon">
						{% if can_admin %}
							<a href="{{ fn('get_edit_user_link', user.ID) }}"><span class="fa-solid fa-pencil"></span></a>
						{% endif %}
					</div>
				</article>
			{% endfor %}
		</div>

		{# GRID & MOBILE LISTING #}
		<div class="grid-layout" style="display: none;">
			{% for user in users %}
				<div class="grid-layout__item">
					<p class="user-name">Name: <span>{{ user.display_name }}</span></p>
					<p class="user-email">Email: <a class="teal" href="mailto:{{ user.user_email }}">{{ user.user_email }}</a></p>
					<p class="user-phone">Phone: <a class="teal" href="tel:{{ user.phone_number }}">{{ user.phone_number }}</a></p>
					<p class="user-title">Job Title: <span>{{ user.job_title }}</span></p>
					<div class="grid-icons">
						{% if can_admin %}
							<a href="{{ fn('get_edit_user_link', user.ID) }}"><span class="fa-solid fa-pencil"></span></a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}