// layout switcher buttons
#layout-row-btn,
#layout-grid-btn {
	background: $teal;
	color: $white;
	padding: 0.75rem 1.25rem;
	font-size: 1.5rem;
	margin-right: 0.5rem;

	&.active {
		background: $blue;
		color: $teal;
	}
}

.teal-link {
	font-family: $font-head;
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
	color: $teal;
	&:hover { color: $light-teal; }
}

// logout and admin buttons
.logout, .admin {
	position: absolute;
	top: 1.25rem;
	font-size: 1rem;
	font-weight: bold;
	color: $teal;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}
.admin { right: 8.75rem; }
.logout  { right: 2.5rem; }