* { box-sizing: border-box; }

// the base <html> font size is used to calc rem units globally (changing this WILL break things)
html { font-size: 16px; } // 16px = 1rem (base font setup)

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	overflow-x: hidden;

	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox (>70)
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari (>63)
	font-feature-settings: "lnum" 1; // new standard for browsers
}

// sitewide placeholder text
::placeholder {
	font-family: $font;
	color: $grey;
	opacity: 0.8;
	font-style: italic;
	font-size: 0.9375rem; // 15px
}

// base image setup - always keep aspect ratio intact by default
img {
	display: block;
	max-width: 100%;
	height: auto;
}

// main site wrap to adjust the content area to work with the left hand menu
.site-wrap {
	max-width: 100%;
	margin: 0 auto;
	padding: 2.5rem;
	@include bp($breakpoint) { margin: 0 0 0 20rem; }
}

// core site wrapper (core site content wrapper)
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// default page content area
.content-block {
	max-width: 75rem; // 1200px
	padding: 1rem 0;

	.log-in {
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	h1, h2, h3,
	h4, h5, h6 {
		max-width: 75rem;
		margin: 0 auto;
	}

	.bold { font-weight: 600; }
	.teal { color: $teal; }
	.light-teal { color: $light-teal; }
}

.mb2 {
	margin-bottom: 2rem !important;
}