.login-wrapper {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 50rem;
	margin: 0 auto;
	padding: 1.25rem;

	.offset {
		box-shadow: 0.3em 0.3em 0 0 $teal, inset 0.3em 0.3em 0 0 $teal;
		padding: 3rem 6rem;
		font-size: 3rem;
		color: $teal;

		&:hover, &:focus {
			box-shadow: 0 0 0 0 $light-teal, inset 6em 3.5em 0 0 $light-teal;
			color: $white;
		}
	}
}