// don't show the hamburger menu by default
#menu-toggle { display: none; }

// desktop tablet+
@include mq($from: $breakpoint) {
	.nav-container {
		position: fixed;
		top: 0;
		left: 0;
		max-width: 20rem;
		width: 100%;
		height: 100vh;
		padding: 1.5rem 1rem 2.5rem;
		background-color: $teal;

		// begin wordpress nav menu style overrides
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		// the class name we gave our menu in functions.php
		.menu {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 70%;

			li { max-width: 100%; }

			.current-menu-item > a {
				color: $blue;
				&:before { color: $blue; }
			}

			a {
				display: block;
				width: 100%;
				color: $white;
				font-size: 1.1rem;
				padding: 1rem;

				&:hover {
					color: $blue;
					margin-right: 1.5rem; // pushes away from icon left edge

					&:before {
						color: $blue;
						transition: 0.2s ease-out;
						margin-right: 2rem; // pushes against text right edge - keeping it from moving
					}
				}

				&:before {
					position: relative;
					top: 0.35rem;
					width: 2.5rem;
					margin: 0 1rem 0 0;
					display: inline-block;
					text-align: center;
					font-size: 1.875rem;
					color: $white;
					transition: 0.2s ease-out;
				}
			}

			/** Icon Setup for nav items **/

			// Clients
			#menu-item-40 > a {
				&:before {
					content: '\f0c0';
					font-family: 'FontAwesome';
				}
			}

			// Client Accounts
			#menu-item-37 > a {
				&:before {
					content: '\f1ad';
					font-family: 'FontAwesome';
				}
			}

			// Client Hosting
			#menu-item-88 > a {
				&:before {
					content: '\f1c0';
					font-family: 'FontAwesome';
				}
			}

			// Company Accounts
			#menu-item-38 > a {
				&:before {
					content: '\f0b1';
					font-family: 'FontAwesome';
				}
			}

			// Team Members
			#menu-item-39 > a {
				&:before {
					content: '\f500';
					font-family: 'FontAwesome';
				}
			}

			// Servers
			#menu-item-36 > a {
				&:before {
					content: '\f233';
					font-family: 'FontAwesome';
				}
			}

			// Plugins
			#menu-item-47 > a {
				&:before {
					content: '\f1e6';
					font-family: 'FontAwesome';
				}
			}
		}
	} // .end nav-container
} // .end breakpoint check

// mobile styles
@include mq($until: $breakpoint) {
	// mobile menu toggle X
	#menu-toggle {
		display: block;
		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			height: 2px;
			margin-bottom: 6px;
			background-color: $teal;
			transition: 0.3s ease-out;
			border-radius: 2px;
			margin-right: 0; // align bars right
			margin-left: auto; // align bars right

			// adjust the widths to make them staggered
			&:nth-child(3n+1) { width: 1.8rem; }
			&:nth-child(3n+2) { width: 1.4rem; }
			&:nth-child(3n+3) { width: 1rem; }

			// make them all the same so the X looks correct
			&.x-bar-active { width: 1.6rem; }
		}

		.x-bar-active {
			position: relative;
			transition: 0.3s ease-out;
			margin-bottom: 0;
			height: 2px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 4px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}
} // end breakpoint check