// user profile info at top of nav menu
.current-user-profile {
	border-bottom: 1px solid $white;
	margin-bottom: 1.25rem;
	text-align: center;

	img {
		display: inline-block;
		max-width: 5rem;
		margin: 0 auto;
		border-radius: 50%;
	}

	p {
		display: inline-block;
		position: relative;
		top: -2.15rem;
		margin-top: 0;
		margin-bottom: 1.5rem;
		margin-left: 2rem;
		color: $white;
	}
}

// nav menu "footer"
.copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	#collapse-menu {
		display: block;
		padding: 0.25rem;
		font-size: 2.25rem;
		margin-left: 2rem;

		&:hover {
			background: none;
			color: $blue;
		}
	}

	p {
		text-align: center;
		color: $white;
		font-size: 0.875rem;
		&:first-of-type { padding-top: 0.5rem; }
	}
}

.nav-collapsed {
	transition: width 0.2s;
	width: 7rem;
	padding: 1rem;

	ul li a {
		font-size: 0.001rem !important;
		color: transparent !important;
	}

	#collapse-menu {
		margin-top: 0;
		margin-bottom: 1.3rem;
		transform: rotate(180deg);
	}
}

// shift the main content left when the menu is collapsed
.left-shift {
	margin-left: 7rem;
	transition: 0.4s ease-out;
}

// center align the logged in users name in the bar
.center-align {
	width: 4rem;
	position: unset !important;
	margin: 0 auto 0.5rem !important;
}

// resize the users profile image in the bar
.image-resize {
	width: 4rem;
}