.a-to-z {
	margin-top: 2rem;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.az-list {
		display: flex;
		align-items: flex-end;
		max-width: 60rem;
		justify-content: space-between;
		

		li a {
			padding: 0.5rem 0.75rem;
			text-transform: uppercase;
			font-size: 1.25rem;
			color: $teal;
			&:hover { color: $blue; }
		}
	}
}