// core font setup
a, p, span, address, table, td,
small, time, ol, ul, li {
	font-family: $font;
	font-size: 1rem;
	font-weight: 400;
	color: $light-black;
}

button {
	appearance: none;
	border: unset;
	font-family: $font;
	background: $teal;
	padding: 0.75rem 1.25rem;
	border-radius: $radius;
	color: $white;
	transition: 0.2s ease-out;

	&:hover {
		cursor: pointer;
		transition: 0.2s ease-out;
		background-color: lighten($teal, 10%);
	}
}

small,
time { font-size: 0.875rem; } // 14px

a {
	text-decoration: none;
	transition: 0.2s ease-out;
	&:hover { transition: 0.2s ease-out; }
}

h1, h2, h3,
h4, h5, h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	font-family: $font-head;
	font-weight: bold;
	color: $teal;
}

h1 {
	font-size: 2rem; // 32px base
	@include bp(xs) { font-size: 2.25rem; } // 36px @ 480px
	@include bp(sm) { font-size: 2.75rem; } // 44px @ 768px
	@include bp(md) { font-size: 3rem; } // 52px @ 1023px
}

h2 {
	font-size: 1.75rem; // 28px base
	@include bp(xs) { font-size: 2rem; } 	// 32px @ 480px
	@include bp(sm) { font-size: 2.25rem; } // 36px @ 768px
	@include bp(md) { font-size: 2.5rem; } // 44px @ 1023px
}

h3 {
	font-size: 1.5rem; // 24px base
	@include bp(xs) { font-size: 1.75rem; } // 28px @ 480px
	@include bp(sm) { font-size: 2rem; } 	// 32px @ 768px
	@include bp(md) { font-size: 2.25rem; } // 36px @ 1023px
}

h4 {
	font-size: 1.25rem; // 20px base
	@include bp(xs) { font-size: 1.5rem; } // 24px @ 480px
	@include bp(sm) { font-size: 1.75rem; } // 28px @ 768px
	@include bp(md) { font-size: 2rem; } // 32px @ 1023px
}

h5 {
	font-size: 1.25rem; // 20px
}

h6 { font-size: 0.875rem; } // 14px