// Base Colors
$white: #FFF;
$black: #000;
$light-black: #363636;
$grey: #8E8E8E;

// Theme Colors
$teal: #1A3F56;
$light-teal: #008080;
$blue: #25D4F8;
$orange: #F79720;
$brown: #9E4723;
$green: #008932;

// Fonts
$font: 'Poppins', sans-serif;
$font-head: 'Nunito', sans-serif;

$radius: 5px; // Radius for all components
$breakpoint: 812px; // slightly larger than standard ipad @810px

// breakpoint mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 810px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}