// // remove egregious bottom margin added
// div.facetwp-facet { margin-bottom: 0; }

// // global search bar
// .facetwp-type-search {
// 	position: relative;
// 	display: inline-block;
// 	max-width: 14.75rem;
// 	width: 100%;
// 	margin-right: 0;
// 	margin-bottom: 1.5rem;

// 	// search box styles
// 	.facetwp-search {
// 		width: 14.75rem;
// 		padding: 0.5rem 0.5rem 0.5rem 2rem;
// 		border: 1px solid $teal;
// 		border-radius: $radius;
// 		background: none;
// 		font-family: $font;
// 		font-size: 0.875rem;
// 		color: $teal;
// 	}

// 	// magnifying glass icon
// 	i {
// 		opacity: 1;
// 		left: 0.5rem;
// 		max-width: 1rem;
// 	}

// 	// icon overrides
// 	.facetwp-icon::before {
// 		width: unset;
// 		height: unset;
// 		position: absolute;
// 		top: 0.8rem;
// 		content: '\f002';
// 		font-size: 0.875rem;
// 		font-style: normal;
// 		background: none;
// 		color: $teal;
// 		opacity: 0.5;
// 	}
// }