.grid-layout {
	display: grid;
	max-width: 75rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 23.5rem));
	margin: 0 auto;
	column-gap: 2rem;
	row-gap: 2rem;

	&__item {
		position: relative;
		padding: 0.5rem 1.25rem;
		border: 2px solid $teal;
		border-radius: $radius;

		p {
			font-weight: 600;
			a, span { font-weight: normal; }
		}

		@import 'grids/team-members-grid';

		.grid-icons {
			position: absolute;
			right: 0.25rem;
			bottom: 0.25rem;
			width: 8rem;
			text-align: right;
			padding: 0.25rem;
			margin-left: 0.5rem;

			a {
				color: $light-teal;
				margin-left: 1rem;
				font-size: 1.25rem;
				&:hover { color: $orange; }
			}
		}
	} // .end &__item
}