.row-container {
	max-width: 100%;
	margin: 2rem 0;
}

.row-layout {
	max-width: 75rem;
	margin: 0 auto;

	&__item {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.75rem 1rem;
		margin-bottom: 1.25rem;
		border: 2px solid $teal;
		border-radius: $radius;

		&.row-header {
			border: unset;
			border-radius: 0;
			border-bottom: 2px solid $teal;
			margin-bottom: 1.5rem;

			.info-download { color: $light-black; }

			.row-spacer {
				position: relative;
				width: 7rem;
			}
		}

		// imports row modifiers per data set
		@import 'rows/plugin-row-items';
		@import 'rows/user-row-items';
		@import 'rows/server-row-items';

		.row-edit-icon {
			position: relative;
			width: 8em;
			text-align: right;

			a {
				padding: 0.25rem;
				margin-left: 0.5rem;
				color: $light-teal;
				font-size: 1.2rem;
				&:hover { color: $orange; }
			}
		}
	} // .end &__item

	.credentials-dropdown {
		display: none;
		position: relative;
		width: 100%;
		bottom: 0rem;
		left: 0;
		margin-top: -1.5rem;
		margin-bottom: 1.5rem;
		padding: 0.5rem 1.25rem;
		border-left: 2px solid $teal;
		border-right: 2px solid $teal;
		border-bottom: 2px solid $teal;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		p {
			display: inline-block;
			max-width: 25rem;
			margin-top: 0.55rem;
			margin-bottom: 0.55rem;
			margin-right: 4rem;
		}
	}
}