// main column layouts
.info-download-head {
	color: $light-black;
	margin-right: 0.5rem;
	width: 12rem;
}

.info-download {
	color: $light-teal;
	font-weight: 600;
	margin-right: 0.5rem;
	width: 12rem;
	&:hover { color: $orange; }
}

.info-cost,
.info-license {
	&.bold { margin-left: -0.85rem; }
}

// license key
.info-license {
	width: 19rem;
	margin-right: 0.5rem;
}

// cost per month for plugin
.info-cost {
	width: 8rem;
	margin-right: 0.5rem;
}

.info-client {
	width: 13rem;
	&.bold { margin-left: -1.2rem; }
}

.key-active {
	path { fill: $orange; }
}