// team member name
.info-name {
	width: 14rem;
	margin-right: 0.5rem;
}

.info-email {
	width: 18.5rem;

	a {
		color: $teal;

		&:hover {
			color: $light-teal;
			text-decoration: underline;
			text-underline-offset: 5px;
		}
	}
}

.info-phone {
	width: 7rem;

	a {
		color: $teal;
		&:hover { color: $light-teal; }
	}
}

.info-title {
	width: 16.5rem;
	margin-left: 4rem;
}