{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<section class="user-container">
		<h2 class="mb2">Clients</h2>
		<h2 class="mb2">Client Accounts</h2>
		<h2 class="mb2">Client Hosting Accounts</h2>
		<h2 class="mb2">Company Accounts</h2>
		<h2 class="mb2">Servers</h2>
		<h2 class="mb2">Plugins</h2>
	</section>
</div>
{% endblock %}