<!DOCTYPE html>
<html class="" lang="en">
	<head>
		{% set robots_content = "none, noimageindex, noarchive, nocache, nosnippet" %}
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<meta name="robots" content="{{ robots_content }}">

		{% if post.title %}
			<title>{{ post.title }} | {{ site.name }}</title>
		{% else %}
			<title>{{ user.name }} | {{ site.name }}</title>
		{% endif %}

		{{ function('acf_form_head') }}
		{{ function('wp_head') }}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
		{% if fn('is_user_logged_in') %}
			{% include 'navigation.twig' %}

			<section class="site-wrap">
				{% if not is_front_page %}
					<header class="site-header">
						{% if post.title %}
							<h2>{{ post.title }}</h2>
						{% else %}
							<h2>{{ user.name }}</h2>
						{% endif %}
						<h5>Layout</h5>

						<button id="layout-grid-btn" title="Switch to Row view">
							<span class="fa-solid fa-table-cells-large"></span>
						</button>

						<button id="layout-row-btn" class="active" title="Switch to Grid view">
							<span class="fa-solid fa-bars-progress"></span>
						</button>
					</header>
				{% endif %}

				<section class="main-post-wrapper" role="main">
					{% block content %}{% endblock %}
				</section>
			</section>
			{{ function('wp_footer') }}

		{% elseif is_front_page %}
			{% block homecontent %}{# Login button only #}{% endblock %}
		{% endif %}
	</body>
</html>