{% if is_admin %}
	<a class="admin" href="/wp-admin">Admin</a>
{% endif %}
<a class="logout" href="{{ fn('wp_logout_url', '/') }}">Logout</a>

<aside>
	<nav class="nav-container">
		<div class="current-user-profile">
			<a href="{{ user.link }}" title="Profile"><img src="{{ user.avatar }}" alt="{{ user.name }}" /></a>
			<p>{{ user.name }}</p>
		</div>

		{# mobile hamburger menu with X effect #}
		{# <div id="menu-toggle">
			<span class="x-bar"></span>
			<span class="x-bar"></span>
			<span class="x-bar"></span>
		</div> #}

		{{ fn('mod_render_primary_menu') }}

		<div class="copyright">
			<button id="collapse-menu" title="Collapse Menu"><span class="fa-solid fa-circle-chevron-left"></span></button>
			<p><em>Designed & Developed by Shane Schroll</em></p>
			<p><em>&copy; Baseline Creative &mdash; {{ date_year }}</em></p>
		</div>
	</nav>
</aside>