{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	{% if fn('is_page', 'feature-request') %}
		<h5>All submitted requests will be discussed during our weekly Monday meeting.</h5>
	{% endif %}
	{{ post.content }}
</div>
{% endblock %}