<div class="a-to-z">
	<ul class="az-list">
		{% set letters = 'a'..'z' %}
		{% for letter in letters %}
			<li><a class="letter" href="#" title="Go To {{ letter|upper }}">{{ letter }}</a></li>
		{% endfor %}
	</ul>
</div>